<div class="z-40 toast toast-top toast-center">
    {% for message in messages %}
        <!-- if/elif statement is because django only sends the one word alert classes (i.e., "warning"), and many frameworks use "alert-warning" -->
        <div 
            id="message-{{ forloop.counter }}" 
            class="
                alert {{ message.tags }} alert-dismissible fade show
                {% if "warning" in message.tags %}
                alert-warning
                {% elif "success" in message.tags %}
                alert-success
                {% elif "error" in message.tags %}
                alert-error
                {% elif "debug" in message.tags %}
                alert-debug
                {% endif %}
            " 
            role="alert" >
            {{ message }}
            <button _="on click remove #message-{{ forloop.counter }}" type="button" class="btn btn-sm btn-neutral" aria-label="Close">close
            </button>
        </div>
    {% endfor %}
</div>